MONGODB_URI=

GOLANG_PORT=

# Redis Credentials
REDIS_NETWORK_TYPE=
REDIS_URL=
REDIS_USERNAME=
REDIS_PASSWORD=

# Postgres Credentials
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER_NAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

AES_PASSPHRASE=
JWT_KEY=

KVB_UAT_URL=
NOTIFICATION_SERVICE=
PAYMENT_URL=

### AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_CLOUDFRONT_URL=

KVB_USERNAME=
KVB_PASSWORD=
CALLBACK_API_KEY=

# logs
ENABLE_LOG_S3_UPLOAD=

# paydoh account details
PAYDOH_ACCOUNT_NUMBER=

# mongodb users
MONGO_USER_DB=

# DebitCard
CARD_KEY=
CARD_CVV_KEY=

# BANK ENCRYPTION
BANK_ENCRYPTION_KEY=
CARDCONTROL_ENCRYPTION_KEY=

MAX_MPIN_ATTEMPTS= #in numbers
MPIN_LOCK_PERIOD= #in minutes

DEBIT_CARD_PAYMENT_AMT=
TOLL_FREE_NUMBER=
SUPPORT_MAIL_ID=

LONG_SMS_WAIT_TIME= # in seconds

# BANK DETAIL
IFSC_CODE=
BRANCH_NAME=

EMAIL_VERIFICATION_EXPIRE_TIME= #in minutes