<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paydoh Kyc Update</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f5f5f5;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img
        src="https://d1i0l4g77nn6e0.cloudfront.net/paydoh_loader.gif"
        height="200px"
        width="200px"
      />
      <h4>Hold on you are being redirected...</h4>
    </div>
  </body>
</html>
